<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZXScroll&amp;Table.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A751F96C1CBD006A0022081F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A751F9851CBD006A0022081F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A751F9901CBD006A0022081F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
